body {
    background-color: black;
    font-size: 40px;
    font-family:'Tangerine', cursive;
    color: aliceblue;
}

/*h1 {
    border:antiquewhite;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin: 5 5 5 5;
}

h2 {
    border:antiquewhite;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin: 5 5 5 5;
} */

h1 {
    color:navy;
}

h2 {
    color: navy;
}

.containerChild:hover {
   transform: scale(1.01);
   box-shadow: 0 0 12px rgba(rgb(245, 232, 207) (0.2));
   cursor: pointer;
   background-color: bisque;
   color: navy;
   width: 300px;
   border-radius: 12px;
   border:navy;
   border-style: solid;
   padding: 5px;
}

.lateefParagraph {
  font-family: 'Lateef', cursive;
  font-size: 30px;
}

.hero {
    background-image: url("img./oldframe.jpeg");
    background-size: cover;
}