/* body {
    background-color: black;
    font-size: 40px;
    font-family:'Tangerine', cursive;
    color: aliceblue;
}

h1 {
    color:navy;
    text-align: center;
}

h2 {
    color: navy;
    text-align: center;
}

.containerChild:hover {
   transform: scale(1.01);
   box-shadow: 0 0 12px rgba(rgb(245, 232, 207) (0.2));
   cursor: pointer;
   background-color: bisque;
   color: navy;
   width: 300px;
   border-radius: 12px;
   border:navy;
   border-style: solid;
   padding: 5px;
}

.lateefParagraph {
  font-family: 'Lateef', cursive;
  font-size: 30px;
}

.hero {
    background-image: url("/Users/casvalkyriespicer/Documents/GitHub/cheese-history/img/cheeseplate.png");
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
} */
:root {
    --clr-neutral-100: aliceblue;
    --clr-neutral-150: bisque;
    --clr-primary-800: navy;
    --clr-primary-1000: black;

    --ff-primary: 'Lateef', cursive;
    --ff-secondary: 'Tangerine', cursive;
}
::before,
::after {
    box-sizing: border-box;
}

body,
h1,
h2,
p {
    margin: 0;
    color: var(--clr-neutral-100);
}

h1,
h2 {
    color: var(--clr-neutral-150);
}

body {
    font-family: --ff-primary;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
}

.bg-dark {
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: 2.3rem;
    background-color: var(--clr-primary-1000);
    text-align: center;
    max-width: 50rem;
}

.bg-light {
    background-color: var(--clr-neutral-150);
    text-align: center;
    color: var(--clr-primary-800);
}

.bg-medium {
    background-color: var(--clr-primary-800);
}

.containerChild {
    color: var(--clr-primary-800);
}

.bg-dark,
section {
    padding: 3rem 0;
}

.Container, 
.lateefParagraph,
.bg-dark {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}