body {
    background-color: black;
    font-size: 40px;
    font-family:'Tangerine', cursive;
    color: aliceblue;
}

h1 {
    border:antiquewhite;
    border-radius: 12px;
    border-width: 2px;;
}

.containerChild:hover {
   transform: scale(1.5);
   /*box-shadow: 0 0 12px rgba(rgb(245, 232, 207) (0.2));*/
   cursor: pointer;
   background-color: bisque;
   color: navy;
}